@import "./vendor/normalize";
@import "./partials/colors";
@import "./partials/mixins";
@import "./partials/typography";

body {
  padding: 2em;
}
  .anime {
    display: grid;
  }
.container{ 
h1{
    color: $primary_color;
  @include round-border();
}
p{
    color: $secondary_color;
    @include round-border();
}
ul{
    li{
        list-style: circle;
    }
}
}

.btn{
  @include main-button();
  &:hover,
  &:focus {
    background-color: darken($primary-button-color, 10%);
    cursor: pointer;
  }
}




// Medium screens and up
@media (min-width: 768px) {
    body {
      background-color: yellow;
    }
  }

@media (min-width: 1024px) {
    .container {
      background-color: gray;
    }
    body{
        background-color: red;
    }
  }

